#fe-fromBuilder {
    .group {
        display: none;
        &.active {
            display: block;
        }
        .setting {
            margin: 10px;
            span {
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    .settings-header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        #save-form-post {
            align-self: baseline;
            white-space: nowrap;
            background: #007cba;
            border: 1px solid #007cba;
            color: #fff;
            text-decoration: none;
            text-shadow: none;
            margin: 0;
            padding: 4px 12px;
            font-weight: 400;
            margin-bottom: 5px;
            font-family: Arial;
            cursor: pointer;
            border-radius: 5px;
            font-size: 17px;
            z-index: 999999999999;
            &:hover {
                color: #fff;
                opacity: 0.7;
            }
        }
    }

    .form-wrap.form-builder .frmb .prev-holder {
        display: none !important;
    }

    .hidden {
        display: none;
    }

    .frmb {
        border: 1px dashed;
        padding: 10px;
        margin-top: 8px;
        border-radius: 5px;
        li {
            border-radius: 5px !important;
            border: 1px dashed !important;
            padding: 0px;
            padding-left: 5px;
        }
    }
}
