#fe-fromBuilder {
    .group {
        display: none;
        &.active {
            display: block;
        }
        .setting {
            margin: 10px;
            span {
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    .settings-header {
        margin-top: 20px;
        &.primary{
            display: flex;
            justify-content: space-between;
        }
        #save-form-post {
            align-self: baseline;
            white-space: nowrap;
            background: #007cba;
            border: 1px solid #007cba;
            color: #fff;
            text-decoration: none;
            text-shadow: none;
            margin: 0;
            padding: 4px 12px;
            font-weight: 400;
            margin-bottom: 5px;
            font-family: Arial;
            cursor: pointer;
            border-radius: 5px;
            font-size: 17px;
            z-index: 999999999999;
            &:hover {
                color: #fff;
                opacity: 0.7;
            }
        }
    }

    .form-wrap.form-builder .frmb .prev-holder {
        display: none !important;
    }

    .hidden {
        display: none;
    }

    .frmb {
        border: 1px dashed;
        padding: 10px;
        margin-top: 8px;
        border-radius: 5px;
        li {
            border-radius: 5px !important;
            border: 1px dashed !important;
            padding: 0px;
            padding-left: 5px;
        }
    }
    #fe-form-builder-settings-tabs {
        position: absolute;
        top: 0;
        left: 0;
        width: 170px;
        border-bottom: 0;
        overflow: hidden;
        .nav-tab {
            width: calc(100% - -1px);
            margin-left: 0;
            margin-bottom: 0.5em;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            font-weight: 400;
            font-size: 13px;
            &.nav-tab-active {
                background: white;
            }
        }
    }
    .sub_field_groups_container {
        margin-left: 170px;
        border-left: 1px solid #cccccc;
        padding-left: 20px;
    }

    fieldset {
        position: relative;
    }
}
